@import '../import.scss';

.portfolio-content {
  background-color: #ffffff;

  .wrapper-container {
    background-color: #ffffff;
  }
}

.details {
  .project-bottom {
    background-color: #f7f7f7;
    padding: 20px 50px;
    display: flex;
    justify-content: flex-end;
    
    // a {
    //   color: #1CADFF;
    //   border-bottom-color: #1CADFF;
    // }
  }
}


@media only screen and (max-width: 540px) {
  .details .project-bottom {
    padding: 25px 20px;
  }
}