@import '../import.scss';

.portfolio-content {
  background-color: #ffffff;

  .wrapper-container {
    background-color: #ffffff;
  }
}

.details {
  .sticky-bottom {
    background-color: $link-color;
    padding: 20px 50px;
    display: flex;
    justify-content: flex-end;
  }
}


@media only screen and (max-width: 540px) {
  .details .sticky-bottom {
    padding: 25px 20px;
  }
}