.asset-list img {
  width: 300px;
  height: auto;
}

.asset-list {
  display: flex;
  flex-direction: column;
  text-align: center;

  li {
    display: inline-block;
    margin-bottom: 50px;
  }

  li:last-of-type {
    margin-bottom: 0px;
  }

  .with-description {
    display: block;

    p {
      text-align: left;
    }
  }
}

.asset-large img {
  width: 450px;
}

.asset-xlarge img {
  width: 600px;
}

a.zoom-in {
  cursor: zoom-in;
}

@media only screen and (max-width: 540px) {
  .asset-xlarge img, .asset-large img {
    width: 100%;
  }
}