@import '../../import.scss';

.footer-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 620px) {
  .footer-container {
    align-items: flex-start;

    .navigation {
      align-self: flex-start;
      flex-direction: column;
      margin-bottom: 25px;
      align-items: center;
      
      li {
        margin-bottom: 15px;
      }
      // li {
      //   display: flex;

      //   &:last-of-type {
      //     margin-right: 0;
      //   }
      // }
    }
  }
}