@import '../../import.scss';

.tabs-container {
  background-color: #fff;

  ol {
    list-style: none;
    text-align: center;
    display: block;
    background-color: #fff;
    position: sticky;
    top: 100px;
    padding-bottom: 50px;

    li {
      display: inline-block;
      width: 30%;
      cursor: pointer;
    }
  }

  .tab-list-active a, .tab-list-item a:hover {
    border-bottom: 5px solid $link-color;
  }

  .tab-list-item a {
    display: inline-block;
    line-height: 1.5em;
    font-weight: bold;
    padding: 7px 15px;
  }
}

.tab-content {
  
  a {
    font-weight: bold;
    text-decoration: underline;
  }

  ul.asset-list {
    text-align: center;
    width: 100%;
    flex-direction: unset;
    display: block;
  }

  li {
    margin-bottom: 50px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
  }

  li:last-of-type {
    margin-bottom: 0px;
    margin-right: 0px;
  }

  p {
    margin-bottom: 20px;
    margin-top: 0px;
  }

  p:last-of-type {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 540px) {
  .tabs-container {
    ol {
      padding-bottom: 20px;
    }

    ol li {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }
  } 

  .tabs-container ol li:last-of-type {
    margin-bottom: 0px;
  }

  .tab-content li {
    margin-right: 0px;
  }
}